<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/SeleniumProject/src/test/java/TestNg/lesson04"><classes><class name="TestNg.lesson04.SignUpTests"><methods><include name="signByEmail"/><include name="signByFacebook"/><include name="signBytwitter"/></methods></class><class name="TestNg.lesson04.dependencymethods"><methods><include name="open"/><include name="search"/><include name="advsearch"/><include name="logout"/></methods></class></classes></test></suite>